@page "/events"

@using System;
@using System.Globalization;
@using System.Reflection;
@using Microsoft.AspNetCore.SignalR.Client
@using ZionetCompetition.Models
@using Blazorise.DataGrid

@inject ZionetCompetition.Controllers.EventController EventController
@inject NavigationManager Navigation

@implements IAsyncDisposable

<h3>Events</h3>

<DataGrid TItem="EventModel"
          Data="@messages"
          Filterable="true"
          FilterMethod="DataGridFilterMethod.Contains"
          ShowPager="true"
          ShowPageSizes="true"
          Editable="false"
          Striped="true"
          Hoverable="true"
          SelectionMode="DataGridSelectionMode.Single"
          Responsive="true"
          @bind-SelectedRow=selectedEvent>
    <ChildContent>
        <DataGridCommandColumn TItem="EventModel"></DataGridCommandColumn>
        <DataGridColumn TItem="EventModel" Field="Title" Caption="Title" Sortable="false" Displayable="true">
            <DisplayTemplate>
                <NavLink href="@($"/Events/{context.Id}")">@context.Title</NavLink>
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="EventModel" Field="Address" Caption="Address" Sortable="false" Displayable="true" />
        <DataGridDateColumn TItem="EventModel" Field="StartTime" Caption="StartTime" Sortable="true" Displayable="true" />
        <DataGridDateColumn TItem="EventModel" Field="EndTime" Caption="EndTime" Sortable="false" Displayable="true" />
        <DataGridColumn TItem="EventModel" Field="NumberParticipantsInTeam" Caption="TeamCapacity" Sortable="false" Displayable="true" />
        <DataGridColumn TItem="EventModel" Field="Hashcode" Caption="Hashcode" Sortable="true" Displayable="true" />
        <DataGridColumn TItem="EventModel" Field="Status.Title" Caption="Status" Sortable="true" Displayable="true" />
        <DataGridColumn TItem="EventModel" Field="CreateDate" Caption="CreateDate" Sortable="false" Displayable="true" />
    </ChildContent>
    <EmptyTemplate>
        <div class="box">
            No records were found.
        </div>
    </EmptyTemplate>
    <LoadingTemplate>
        <a></a><div class="box">
            <progress class="progress is-small is-primary" max="100" />
        </div>
    </LoadingTemplate>

    <ButtonRowTemplate>
        <Button Color="Color.Success" >New</Button>
        <Button Color="Color.Primary" Disabled="(selectedEvent is null)">Duplicate</Button>
        <Button Color="Color.Danger" Disabled="(selectedEvent is null)">Delete</Button>
    </ButtonRowTemplate>
</DataGrid>

@code {
    private HubConnection? hubConnection;
    public EventModel selectedEvent;
    private IEnumerable<EventModel> messages = new List<EventModel> { };
    public DataGrid<EventModel> EventDataGrid { get; set; }


    protected override async Task OnInitializedAsync()
    {
        //await EventController.ConfigureHub();
        //await EventController.StartConnection();
        //await EventController.GetAll();
        //messages = EventController.messages;
        //StateHasChanged();
    }

    public bool IsConnected =>
    hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }


}
