@page "/404/{ErrorMessage}"
@using ZionetCompetition;

@inject NavigationManager UriHelper
<h1 style="text-align:center">404 Page not found</h1>
<h3 style="text-align:center">@ErrorMessage</h3>

<div style="text-align:center"><img src="https://localhost:7130/img/404.gif" @onclick="Home" /></div>

@code {
    [Parameter]
    public string ErrorMessage { get; set; }

    private void Home()
    {
        UriHelper.NavigateTo("/");
    }
}
