@page "/"

@using System.Reflection;
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.Http
@using ZionetCompetition.Models
@inject Microsoft​.AspNetCore​.Http.IHttpContextAccessor HttpContextAccessor
@inject IJSRuntime IJSRuntime
@inject ZionetCompetition.Controllers.UserController UserController


<AuthorizeView Roles="admin, Superuser">
    <p>You can only see this if you're an Admin or Superuser.</p>
</AuthorizeView>

<AuthorizeView Roles="manager">
    <p>You can only see this if you're an manager.</p>
</AuthorizeView>

<AuthorizeView Roles="participant">
    <p>You can only see this if you're an participant.</p>
</AuthorizeView>

<AuthorizeView Roles="user">
    <p>You can only see this if you're an user.</p>
</AuthorizeView>


<PageTitle>Index</PageTitle>


<h1>Index</h1>
<!-- Page content goes here -->

@code {
    private string userName;
    private string token;
    private HubConnection? hubConnection;
    private bool isLoaded;
    public IEnumerable<User> messages = new List<User> { };

    protected override async Task OnInitializedAsync()
    {
        
        //token = HttpContextAccessor.HttpContext.Request.Cookies["auth_token"];
        //await UserController.ConfigureHub(token);
        //await UserController.StartConnection();
        //UserController.GetAll();

        //var token = HttpContextAccessor.HttpContext.Request;
        //token = HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(e => e.Type == "jwt_token").Value;
        //userName = HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(e => e.Type == "name").Value;
    }
}