@page "/profile"
@using CoreTweet;
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.OAuth
@using Microsoft.AspNetCore.Components.Forms
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

@inject IConfiguration Configuration

<a href=@redirectUrl>Login with Twitter</a>

<EditForm Model="@exampleModel" OnSubmit="@ConfirmPinCode">
    <InputText id="PINCode" @bind-Value="exampleModel.PINCode" />

    <button type="submit">Confirm PINcode</button>
</EditForm>

@code{
    public class ExampleModel
    {
        public string? PINCode { get; set; }
    }

    public string redirectUrl;
    private string strValue;
    private CoreTweet.OAuth.OAuthSession session;
    public ExampleModel exampleModel = new();

    protected override async Task OnInitializedAsync()
    {
        //_config
        strValue = Configuration.GetSection("Twitter:TWITTER_API_KEY").Value;
        session = OAuth.Authorize(Configuration.GetSection("Twitter:TWITTER_API_KEY").Value,
                                    Configuration.GetSection("Twitter:TWITTER_API_SECRET").Value);
        var cbUrl = "https://localhost:7130/twitter-callback";
        redirectUrl = session.AuthorizeUri.AbsoluteUri;
    }

    private async void BeginLogin()
    {
        await JSRuntime.InvokeAsync<object>("open", redirectUrl, "_blank");
        //Navigation.NavigateTo(redirectUrl);
    }

    private async Task ConfirmPinCode()
    {
        var tokens = OAuth.GetTokens(session, exampleModel.PINCode);
        var userId = tokens.UserId; // put this id to db
    }
}